<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Faster R-CNN</title>
</head>
<body>
    <h1>Faster R-CNN Object Detection Model</h1>
    <form action="/post_image" method="POST" enctype="multipart/form-data">
        <input type="file" name="image-file" id="image-file" accept=".jpg, .jpeg, .png">
        <button type="submit">Submit</button>
    </form>
</body>
</html>